html, body {
    height: 100%;
    margin: 0;
  }

  h1{
    color: white;
  }

  body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button.home {
    background-color: rgb(255, 36, 179);
    font-family: Andale Mono, monospace;
    font-size: 50px;
  }