html, body {
    height: 100%;
    margin: 0;
  }

  
body {
    background: black;
    display: flex;
    font-family: Andale Mono, monospace;
    color: white;
    align-items: center;
    justify-content: center;
}