body {
    height: 100%;
    font-family: Andale Mono, monospace;
    display: grid;
    justify-items: center;
    align-items: center;
    color: white;
    background-color: lightgray;  
    background-image: url("../assets/images/updated-background.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div {
    width: 300px;
    background-color: rgb(247, 188, 115);
    color: black;
    padding: 50px;
    margin: 20px;
}

h1 {
    font-family: BarcadeNoBar;
    color: rgb(255, 74, 222);
    text-align: center;
    font-size: 100px;
    text-shadow: 2px 0 rgb(255, 255, 255), -2px 0 rgb(255, 255, 255), 0 3px rgb(189, 0, 155), 0 -3px rgb(189, 0, 155),
    1px 1px rgb(255, 255, 255), -1px -1px rgb(255, 255, 255), 1px -1px rgb(255, 255, 255), -1px 1px rgb(255, 255, 255);
}

button.home {
    background-color: rgb(255, 36, 179);
    font-family: Andale Mono, monospace;
    font-size: 50px;
}

@font-face{
    font-family: BarcadeNoBar;
    src: url(BarcadeNoBar.otf);
    font-weight: normal;
    font-style: normal;
}
#newfont{
    font-family: BarcadeNoBar;
}
