html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Andale Mono, monospace;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: lightgray;  
    background-image: url("../assets/images/loginBackground.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main-holder {
    width: 50%;
    height: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
  }


#login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
.login-form-field::placeholder {
    color: #3a3a3a;
  }
  
.login-form-field {
    border-style: outset;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    font-family: Andale Mono, monospace;
    outline: none;
    padding: 0px 0px 5px 5px;
  }
  
#login-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: Andale Mono, monospace;
    background-color: #ff0088;
    cursor: pointer;
    outline: none;
  }