body {
    height: 100%;
    font-family: Andale Mono, monospace;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: black;  
    background-image: url("../assets/images/tron-background.jpeg");
    background-size: cover;
}

table{
    color: white;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    background-color: rgb(141, 215, 255);
}
th{
    position: relative;
}
#scores_left{
    padding-right: 250px;
    font-family: BarcadeNoBar; 
    font-size: 20px;
    color: rgb(255, 228, 170);
    text-shadow: 2px 0 rgb(255, 111, 0), -2px 0 rgb(255, 111, 0), 0 3px rgb(255, 140, 0), 0 -3px rgb(255, 140, 0),
    1px 1px rgb(255, 255, 255), -1px -1px rgb(255, 255, 255), 1px -1px rgb(255, 255, 255), -1px 1px rgb(255, 255, 255);
}
#scores_right{
    padding-left: 250px;
    font-family: BarcadeNoBar; 
    font-size: 20px;
    color: rgb(255, 228, 170);
    text-shadow: 2px 0 rgb(255, 111, 0), -2px 0 rgb(255, 111, 0), 0 3px rgb(255, 140, 0), 0 -3px rgb(255, 140, 0),
    1px 1px rgb(255, 255, 255), -1px -1px rgb(255, 255, 255), 1px -1px rgb(255, 255, 255), -1px 1px rgb(255, 255, 255);
}
#scores_center{
    font-family: BarcadeNoBar; 
    font-size: 20px;
    color: rgb(255, 228, 170);
    text-shadow: 2px 0 rgb(255, 111, 0), -2px 0 rgb(255, 111, 0), 0 3px rgb(255, 140, 0), 0 -3px rgb(255, 140, 0),
    1px 1px rgb(255, 255, 255), -1px -1px rgb(255, 255, 255), 1px -1px rgb(255, 255, 255), -1px 1px rgb(255, 255, 255);
}

#left{
    padding-right: 250px;
}
#right{
    padding-left: 250px;
}

@font-face{
    font-family: BarcadeNoBar;
    src: url(BarcadeNoBar.otf);
    font-weight: normal;
    font-style: normal;
}
#newfont{
    font-family: BarcadeNoBar;
}

h1{
    font-family: BarcadeNoBar;
    color: rgb(255, 174, 0);
    text-align: center;
    font-size: 100px;
    text-shadow: 2px 0 rgb(255, 111, 0), -2px 0 rgb(255, 111, 0), 0 3px rgb(255, 140, 0), 0 -3px rgb(255, 140, 0),
    1px 1px rgb(255, 255, 255), -1px -1px rgb(255, 255, 255), 1px -1px rgb(255, 255, 255), -1px 1px rgb(255, 255, 255);
    background-image: url("../assets/images/tron-motorcycle.png");
    background-size: cover;
}

#themehead {
    text-align: center;
    font-family: BarcadeNoBar; 
    font-size: 50px;
    color: rgb(255, 174, 0);
    text-shadow: 2px 0 rgb(255, 111, 0), -2px 0 rgb(255, 111, 0), 0 3px rgb(255, 140, 0), 0 -3px rgb(255, 140, 0),
    1px 1px rgb(255, 255, 255), -1px -1px rgb(255, 255, 255), 1px -1px rgb(255, 255, 255), -1px 1px rgb(255, 255, 255);
}

#themeopt {
    font-family: Andale Mono, monospace;
    font-size: 30px;
    color: rgb(255, 145, 0);
    background-color: rgb(141, 215, 255);
}